    <script id="countries_template" type="text/x-handlebars-template">
    <div {{#if north_america}} class="na" {{/if}}>
      <p>
        <span class="flag  {{abbreviation}} %>"></span> {{name}} {{abbreviation}}
      </p>
    </div>
      </script>




